@import '_variables.scss';

body {
}

@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */

  .topBanner{
    img{
      width: 100%;
    }
  }
  .bannerText {
    top: 8%;
    left: 38%;
    position: absolute;
    font-size: 20px;
    color: $color-white;
  }

  .line1 {
    top: 60%;
    left: -100%;
    position: absolute;
    width: 100%;
    border: 0.5px solid;
  }

  .line2 {
    top: 61%;
    left: 100%;
    position: absolute;
    width: 100%;
    border: 0.5px solid;
  }

  .bannerText__big {
    top: 10%;
    left: 15%;
    position: absolute;
    font-size: 36px;
    color: $color-white;
    font-weight: bold;
  }

  .bannerButton {
    top: 17%;
    left: 37%;
    border: 2px solid;
    width: 25%;
    height: 30px;
    line-height: 25px;
    border-color: $color-white;
    position: absolute;
    font-size: 8px;

    p {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }

  .sorting {
    width: 90%;
    margin: 5% 0;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-left: 11%;

    }

    li {
      width: 80%;
    }

    i {
      font-size: 16px;
    }
  }

  .numbers {
    width: 100%;
    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 7% 0;
    }

    li {
      width: 5%;
      margin: 0 2%;
    }
  }

  .numbers1 {
    font-size: 30px;
    font-weight: bold;
  }

  .subscription_buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    background-color: $color-teal;
    color: $color-white;
    padding: 50px;

    :hover {
      color: $color-grey;
      background-color: $color-white;
    }
  }
  .button1 {
    border: 2px solid;
    padding: 2%;
    display: none;
  }
  .button2 {
    border: 2px solid;
    padding: 2%;
  }

}

@media (min-width:768px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .bannerText {
    top: 7%;
    left: 36%;
    font-size: 36px;
  }

  .line1 {
    top: 61%;
  }

  .line2 {
    top: 62%;
  }

  .bannerText__big {
    top: 12%;
    left: 11.5%;
    font-size: 64px;
  }

  .bannerButton {
    top: 25%;
    left: 37%;
    width: 25%;
    height: 45px;
    line-height: 40px;
    font-size: 14px;
  }

  .sorting {
    ul {
      margin-left: 7%;
    }

    li {
      width: 60%;
    }
  }
  .items__price{
    width: 100%;
  }
  .items__add{
    width: 100%;
  }

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

  .bannerText {
    top: 18%;
    left: 36%;
    font-size: 60px;
  }

  .line1 {
    top: 67%;
    left: -65%;
    width: 65%;
  }

  .line2 {
    top: 68%;
    width: 65%;
  }

  .bannerText__big {
    top: 25%;
    left: 10.5%;
    font-size: 110px;
  }

  .bannerButton {
    top: 45%;
    left: 41%;
    width: 20%;
    height: 50px;
    line-height: 45px;
    font-size: 14px;
  }

  .numbers {
    ul {
      margin: 5% 0;
    }

    li {
      width: 0%;
      margin: 0 1%;
    }
  }

  .sorting {
    width: 90%;

    p {
      font-size: 14px;
      font-weight: bold;
    }

    ul {
      margin: 5% 5% 5% 6%;
    }

    li {
      width: 12%;
    }
  }
  .subscription_buttons {
    justify-content: center;
    font-size: 14px;
  }

  .button1 {
    width: 25%;
    height: 50px;
    padding-top: 1%;
    display: block;
    margin-right: 1%;
  }

  .button2 {
    width: 25%;
    height: 50px;
    padding-top: 1%;
    margin-left: 1%;
  }

}

@media (min-width:1900px) {
  /* HD */

  .topBanner {
    img {
      width: 100%;
    }
  }

  .bannerText {
    top: 23%;
    left: 37.5%;
    font-size: 86px;
  }

  .line1 {
    left: -75%;
    width: 75%;
  }

  .line2 {
    width: 75%;
  }

  .bannerText__big {
    top: 33%;
    left: 18.75%;
    font-size: 132px;
  }

  .bannerButton {
    top: 55%;
    left: 44%;
    width: 15%;
    height: 60px;
    line-height: 55px;
    font-size: 16px;
    font-weight: bold;
  }

  .sorting {
    p{
      font-size: 12px;
      font-weight: bold;
    }
    ul {
      margin: 5% 5% 2% 11.25%;
      width: 65%;
    }
    li{
      width: 16%;
    }
  }

  .numbers {
    ul {
      width: 100%;
      margin: 5% -4.5%;
    }

    li {
      width: 0%;
      margin: 0 1%;
    }
  }

}
