@import '_variables.scss';

body {
}


@media (min-width:480px)  {

  /* Slider start */

  @import url(https://fonts.googleapis.com/css?family=Varela+Round);

  .slides {
    padding: 0;
    width: 100%;
    height: 189px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .slides input {
    display: none;
  }

  .slide-container {
    display: block;
  }

  .slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }

  .nav label {
    width: 35px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 56pt;
    text-align: center;
    line-height: 194px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }

  .slide:hover + .nav label {
    opacity: 0.5;
  }

  .nav label:hover {
    opacity: 1;
  }

  .nav .next {
    right: 0;
  }

  input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked + .slide-container .nav label {
    display: block;
  }

  .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
  }

  .nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
  }

  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4,
  input#img-5:checked ~ .nav-dots label#img-dot-5,
  input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
  }

  /* Slider end */


  .category {
    display: flex;
    flex-direction: column;
  }

  .category__men {
    margin-top: 2%;
    img{
      width: 100%;
    }
  }

  .category__newsletter {
    margin: 2%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    img{
      width: 100%;
    }
  }

  .category__women {
    margin-top: 2%;
    img{
      width: 100%;
    }
  }

  .button__subscribe {
    margin: -23% 10% 0 10.5%;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid;
    z-index: 100;

    p {
      text-align: center;
      line-height: 46px;
    }

    a {
      text-decoration: none;
      color: $color-grey;
    }
  }

  .brands__slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-lightgrey;
    padding: 5% 5%;
    h2 {
      text-align: center;
      width: 100%;
      margin-bottom: 2%;
      font-weight: bold;
    }
  }

  .deals{
    margin-top: 2%;
  }
  .deals__big {
    img {
      width: 100%;
    }
  }
  .deals__rightTop {
    img {
      width: 100%;
    }
  }
  .deals__rightBot {
    img {
      width: 100%;
    }
  }

  .suggestions {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  .suggestions--first{
    margin: 20px 0 15px 0;
    a{
      text-decoration: none;
      color: $color-grey;
    }
    hr{
      border: 1px solid;
      width: 50%;
      margin: 5% 0 0 25%;
    }
  }
  .suggestions--mid{
    display: none;
  }
  .suggestions--last{
    display: none;
  }

  .items {
    img{
      width: 100%;
    }
    h2{
      color: black;
      font-weight: bold;
    }
    p{
      color: black;
    }
    ul {
      width: 90%;
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
    }
    li{
      width: 90%;
      margin: 2% 0;
    }
  }
  .items__title {
    text-align: center;
  }
  .items__desciption {
    text-align: center;
    margin: 1% 0 2% 0;
  }
  .items__bag{
    display: flex;
    flex-wrap: wrap;
    margin: 1% 0 2% 0;
  }
  .items__price {
    width: 50%;
    font-weight: bold;
  }
  .items__add {
    border: 2px solid;
    width: 100%;
    text-align: center;
  }

  .commentSlider {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    background-color: $color-teal;
    color: $color-white;
    padding: 50px;
  img {
    width: auto;
    height: auto;
    border: 5px solid;
    border-radius: 100px;
    color: #71dee8;
    }
    h2{
      width: 100%;
      margin: 10px 0 10px 0;
      font-weight: bold;
    }
    p {
      width: 100%;
      font-style: italic;
    }
  }

  .medias {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;

    h2 {
      font-weight: bold;
      width: 100%;
      margin: 5% 0 2% 0;
    }

    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5%;
    }

    li {
      border: 2px solid;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin: 2%;
    }

    i {
      width: 100%;
      margin-top: 12%;
      color: $color-grey;
      font-size: 35px;
    }
  }
}

@media (min-width:768px)  {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .slides {
    height: 307px;
  }

  .nav label {
    line-height: 307px;
  }

  .category {
    flex-direction: row;
    margin-top: 5%;
  }
  .category__men {
    margin-top: 2.5%;
  }
  .category__newsletter {
    margin: 2.75% 2% 2% 2%;
  }
  .category__women {
    margin-top: 2.5%;
  }

  .button__subscribe {
    margin: -7.5% 0 0 4%;
    width: 20%;
    height: 25px;

    p {
      line-height: 20px;
      font-size: 14px;
    }
    :hover{
      background-color: $color_blackHover;
      color: $color-white;
    }
  }

  .deals {
    display: flex;
    width: 100%;
    height: auto;
    }
  .deals__big {
    margin-right: 5px;
    img{
      width: 100%;
    }
  }

  .deals__rightTop {
    img {
      width: 100%;
    }
  }
  .deals__rightBot {
    img {
      width: 100%;
    }
  }

  .suggestions{
    display: flex;
    justify-content: space-around;

    a{
      text-decoration: none;
      color: black;

      :visited{
        text-decoration: underline;
      }
    }
  }

  .suggestions--first {
    width: 33%;
    text-align: center;

    hr {
      width: 33%;
      margin: 3% 0 0 33%;
    }
  }
  .suggestions--mid {
    width: 33%;
    display: block;
    margin: 20px 0 15px 0;
    text-align: center;
  }

  .suggestions--last {
    width: 33%;
    display: block;
    margin: 20px 0 15px 0;
    text-align: center;
  }

  .items {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 5%;
    }

    li {
      width: 30%;
      margin: 2% 0;
    }
  }

  .items__title{
  }
  .items__desciption {
    padding: 1%;
  }
  .items__bag{
    display: flex;
    justify-content: space-between;
  }
  .items__price {
    width: 15%;
  }
  .items__add {
    width: 70%;
  }

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

  .slides {
    height: 520px;
  }

  .nav label {
    line-height: 520px;
  }

  .deals{
    width: 90%;
    margin: 5% 0 0 5%;
  }

    .items {
      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        margin-left: 4%;
      }

      li {
        margin: 5px;
        width: 40%;
      }

    .items__price {
      width: 20%;
      margin-left: 0;
    }

    .items__add {
      width: 65%;
      margin-left: 6%;
    }
  }

  .category {
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
  }

  .category__men {
    width: auto;
    height: auto;
  }

  .category__women {
    width: auto;
    height: auto;
  }

  .category__newsletter {
    margin: 2.5% 0 1% 0;
    width: auto;
    height: auto;
    z-index: 10;
    box-shadow: 0 5px 25px $color_blackHover;
  }

  .button__subscribe {
    margin: -6% 0 0 3%;
    width: 20%;
    p {
      line-height: 30px;
    }
  }

  .suggestions {
    margin: 2% 25%;
  }
  .suggestions--first {
    margin-bottom: 5%;
    hr {
      width: 15%;
      margin: 3% 0 0 42%;
    }
  }

  .items {
    margin: 0 4% 5% 0;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 92%;
    }

    li {
      width: 31%;
    }
  }

  .items__price {
    width: 20%;
    margin-left: 4%;
  }

  .items__add {
    width: 33%;
    margin-left: 38%;
  }

  .commentSlider{
    margin-top: -6px;
  }

  .medias {
    li {
      width: 75px;
      height: 75px;
    }
    i{
      margin-top: 18%;
    }
  }

}

@media (min-width:1900px) {
  /* HD */

  .slides {
    height: 775px;
  }

  .nav label {
    line-height: 775px;
  }

  .category {
    margin: 5% 10%;
  }

  .button__subscribe {
    margin: -5% 0 0 4.5%;
    width: 15%;
    height: 50px;

    p {
      line-height: 45px;
    }
  }

  .deals{
    margin: 5% 0 5% 10%;
  }
  .deals__big{
    width: 50.75%;
    margin-right: 0.5%;
  }
  .deals__rightTop{
    width: 131%;
  }
  .deals__rightBot{
    width: 131%;
  }

  .brands__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-lightgrey;
    padding: 5% 0;

    h2 {
      text-align: center;
      width: 100%;
      margin-bottom: 2%;
      font-weight: bold;
    }
  }

  .items {
    margin: 0 0 5% 4%;

    ul {
      width: 84%;
    }

    li {
      width: 20%;
    }
  }

  .items__price {
    width: 20%;
  }

  .items__add {
    width: 25%;
  }

  .seasonDeal {
    img {
      width: 100%;
    }
  }

  .commentSlider {
    img {
      border: 10px solid;
    }

    p {
      width: 35%;
    }
  }

}
